/*****************************
STYLING THE WEBPAGE
*****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(179, 179, 219);
}
body {
  /* font-family: 'Roboto', sans-serif; */
  margin: 0 auto;
  background: url(./week-4-assignment-4-starter-files-codewithay-main/images/bg-tablet-pattern.svg)
    repeat;
  background-size: contain;
}
.sectione img {
  width: 100px;
}
.sectionb img{
   width: 390px;
  
}
/*****************************
STYLING THE HEADER
*****************************/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}
.logo {
  display: inline-block;
  margin-top: 1rem;
}
nav a {
  margin-right: 5px;
  text-decoration: none;
  color: rgb(5, 5, 158);
  
}
.anchor1,
.anchor2,
.anchor3,
.anchor4 {
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 50px;
  background-color: rgb(218, 88, 8);
}
.anchor1 a,
.anchor2 a,
.anchor3 a,
.anchor4 a {
  color: white;

  text-decoration: none;
}
/*****************************
STYLING THE MAIN
*****************************/
main {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 2rem;
  column-gap: 2rem;
}
.sectiona {
  display: flex;
  flex-direction: column;
}
.sectiona h1 {
  color: rgb(5, 5, 72);
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 20px;
}
.sectiona p {
  margin-bottom: 10px;
}

.sectionc h3 {
  color: rgb(5, 5, 72);
  font-size: 1.5rem;
}
.grandpa {
  display: flex;
  flex-direction: column;
}
.parent1,
.parent2,
.parent3 {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
}
span {
  display: inline-block;
  background-color: rgb(218, 88, 8);
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  color: white;
}
.grandpa h4{
  color: rgb(5, 5, 72);
  font-weight: bolder;
  font-size: large;
  margin-bottom: 0.5rem;
}

.sectione {
  margin-top: 2rem;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
}
.sectione p {
  display: inline-block;
  font-weight: bolder;
}
.sectione h1,
h4 {
  margin: 0 auto;
  color: rgb(5, 5, 72);
  font-weight: bolder;
}
.sectione h4 {
  margin: 1rem;
}
.sectione-a,
.sectione-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}
.sectione-b {
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5rem;
}
.anchor3 {
    margin: 5rem auto;
}
.sectionf {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(218, 88, 8);
    align-items: center;
    height: 80px;

}
.sectionf h1 {
    color: white;
    font-weight: bolder;
}
.anchor4 {
    width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 50px;
  background-color: white;
}
.anchor4 a {
    color: rgb(218, 88, 8);
    text-decoration: none;
}
footer{
  background-color: rgb(3, 3, 4);
  display: flex;
  justify-content: space-between;
  padding: 20px 3rem 50px;
  color: rgb(179, 179, 219);

}
footer a{
  text-decoration: none;
}
.foot1 img {
  width: 10px;
}
.foot1 img:first-child{
  width: 5rem;
}
.foot2,
.foot3 {
  display: flex;
  flex-direction: column;
}
.anchor5{
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: rgb(218, 88, 8);
}
#mail {
  border-radius: 50px;
  border: none;
  height: 20px;
  text-align: center;
  
}
main br,
.sectionf br {
  display: none;
}
/***************************************************
MEDIA QUERRY
*****************************************************/
@media screen and (max-width:430px) {
  body,
  .sectionb {
    margin: 0 auto;
  }
  header,
  footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .logo img {
    width: 15rem;
  }
  nav {
    margin-bottom: 10px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .anchor2,
  .anchor4,
  .foot2,
  .foot3,
  .two,
  .three,
  main br,
  .sectionf br {
    display: none;
  }
  .sectiona h1 {
    font-size: 1.5rem;
    margin: 0 auto;
  }
  
  .sectionb img{
    width: 200px;
  }
  .sectione{
        margin-top: -2rem;
        padding-bottom: 0;

  }
  .sectione h1{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .one {
    padding-top: 1px;
    margin-top: 0;
  }
 .anchor3{
      margin: 2.5rem auto;
 }

  footer{
        align-items: center;
  }
  
}
@media screen and (max-width:320px) {
  nav{
    font-size: 14px;
  }
  nav a{
    color:rgb(8, 8, 29);
  }
}
@media screen and (min-width:920px) {
  .sectionb img{
    width: 600px;
  }
}