/*****************************
STYLING THE WEBPAGE
*****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(179, 179, 219);
}
body {
  /* font-family: 'Roboto', sans-serif; */
  margin: 0 auto;
  background: url(./week-4-assignment-4-starter-files-codewithay-main/images/bg-tablet-pattern.svg)
    repeat;
  background-size: contain;
  /* line-height: 1.5; */
}
.sectione img {
  width: 100px;
}
/*****************************
STYLING THE HEADER
*****************************/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  /* margin-top: 3rem; */
  /* border: 2px solid red; */
}
.logo {
  display: inline-block;
  margin-top: 1rem;
  /* border: 2px solid red; */
}
nav a {
  margin-right: 5px;
  text-decoration: none;
  color: rgb(5, 5, 158);
  /* font-weight: bolder; */
  /* border: 2px solid red; */
}
.anchor1,
.anchor2,
.anchor3,
.anchor4 {
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 50px;
  background-color: rgb(218, 88, 8);
}
.anchor1 a,
.anchor2 a,
.anchor3 a,
.anchor4 a {
  color: white;

  text-decoration: none;
}
/*****************************
STYLING THE MAIN
*****************************/
main {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 2rem;
  column-gap: 2rem;
}
.sectiona {
  display: flex;
  flex-direction: column;
}
.sectiona h1 {
  color: rgb(5, 5, 72);
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 20px;
}
.sectiona p {
  margin-bottom: 10px;
  /* color: rgb(5, 5, 158); */
}
/* .sectionc {
    margin-right: 2rem;
} */
.sectionc h3 {
  color: rgb(5, 5, 72);
  font-size: 1.5rem;
}
/* .sectiond h5 {
    color: rgb(5, 5, 72);
    font-size: 1rem;
}
.sectiond li{
    list-style-type: decimal-leading-zero;
    background-color: rgb(218, 88, 8);
} */
.parent1,
.parent2,
.parent3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 2rem; */
  /* border: 2px solid red; */
}
.grandpa header {
  color: rgb(5, 5, 72);
  font-weight: bolder;
  font-size: large;
  /* margin-left: -4rem; */
}
.num {
  display: inline-block;
  background-color: rgb(218, 88, 8);
  /* margin-left: -4rem; */
  /* margin-right: 6rem; */
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-left: -2.5rem;
  /* border: 4px solid blue; */
}

.grandpa .para {
  margin-left: 6rem;
  /* margin-top: -1rem; */
}
.sectione {
  margin-top: 10rem;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  /* margin-left: 4rem; */
}
.sectione p {
  display: inline-block;
  font-weight: bolder;
}
.sectione h1,
h4 {
  margin: 0 auto;
  color: rgb(5, 5, 72);
  font-weight: bolder;
  /* padding-bottom: 5px; */
}
.sectione h4 {
  margin: 1rem;
}
.sectione-a,
.sectione-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sectione-b {
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5rem;
}
.anchor3 {
    margin: 5rem auto;
}
.sectionf {
    /* margin-bottom: 3rem ; */
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    background-color: rgb(218, 88, 8);
    align-items: center;
    height: 80px;

}
.sectionf h1 {
    color: white;
    font-weight: bolder;
    /* margin-right: 10rem; */
}
.anchor4 {
    width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 50px;
  background-color: white;
}
.anchor4 a {
    color: rgb(218, 88, 8);
    text-decoration: none;
}
footer{
  background-color: rgb(3, 3, 4);
  display: flex;
  justify-content: space-between;
  padding: 20px 3rem 50px;
  color: rgb(179, 179, 219);

}
footer a{
  text-decoration: none;
  /* color: white; */
}
.foot1 img {
  width: 10px;
}
.foot1 img:first-child{
  width: 5rem;
  /* color: white; */
}
.foot2,
.foot3 {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.anchor5{
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: rgb(218, 88, 8);
}
#mail {
  border-radius: 50px;
  border: none;
  height: 20px;
  text-align: center;
}